<!DOCTYPE html>
<html>
<head>
  <title>Table Content</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Table: Posts</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Date</th>
          <th>Content</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < tableData.length; i++) { %>
          <tr>
            <td><%= tableData[i].title %></td>
            <td><%= tableData[i].firstname %></td>
            <td><%= tableData[i].creationdate %></td>
            <td><%= tableData[i].content %></td>
            <td>
              <button type="button" class="btn btn-primary btn-edit" data-id="<%= tableData[i].id %>">Edit</button>
              <button type="button" class="btn btn-danger btn-delete" data-id="<%= tableData[i].id %>">Delete</button>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <button type="button" class="btn btn-success btn-add">Add Record</button>
  </div>
  <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="form-record">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-form-label">Add Record</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="input-title">Title</label>
              <input type="text" class="form-control" id="input-title" name="title" required>
            </div>
            <div class="form-group">
              <label for="input-author">Author</label>
              <select class="form-control" id="input-author" name="author" required>
                <% for (let i = 0; i < users.length; i++) { %>
                  <option value="<%= users[i].id %>"><%= users[i].firstname %></option>
                <% } %>
              </select>
            </div>
            <div class="form-group">
              <label for="input-date">Date</label>
              <input type="text" class="form-control" id="input-date" name="date" required>
            </div>
            <div class="form-group">
              <label for="input-content">Content</label>
              <textarea class="form-control" id="input-content" name="content" required></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" id="input-record-id" name="id">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </form>
            </div>
            </div>
            
              </div>
              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
              <script>
                function populateTable() {
                $.ajax({
                    url: '/api/posts',
                    method: 'GET',
                    success: function(data) {
                    $('tbody').empty();
                    data.forEach(function(record) {
                        var row = $('<tr>');
                        row.append('<td>' + record.title + '</td>');
                        row.append('<td>' + record.firstname + '</td>');
                        row.append('<td>' + record.creationdate + '</td>');
                        row.append('<td>' + record.content + '</td>');
                        row.append('<td><button type="button" class="btn btn-primary btn-edit" data-id="' + record.id + '">Edit</button> <button type="button" class="btn btn-danger btn-delete" data-id="' + record.id + '">Delete</button></td>');
                        $('tbody').append(row);
                    });
    },
    error: function(error) {
      console.log(error);
    }
  });
}

function addRecord(data) {
  $.ajax({
    url: '/api/posts',
    method: 'POST',
    data: data,
    success: function() {
      $('#modal-form').modal('hide');
      populateTable();
    },
    error: function(error) {
      console.log(error);
    }
  });
}

function deleteRecord(id) {
  $.ajax({
    url: '/api/posts/' + id,
    method: 'DELETE',
    success: function() {
      populateTable();
    },
    error: function(error) {
      console.log(error);
    }
  });
}

function updateRecord(id, data) {
  $.ajax({
    url: '/api/posts/' + id,
    method: 'PUT',
    data: data,
    success: function() {
      $('#modal-form').modal('hide');
      populateTable();
    },
    error: function(error) {
      console.log(error);
    }
  });
}

$(document).ready(function() {
  populateTable();

  $('.btn-add').click(function() {
    $('#modal-form').modal('show');
    $('#form-record').trigger('reset');
    $('#modal-form-label').text('Add Record');
    $('#input-record-id').val('');
  });

  $(document).on('click', '.btn-edit', function() {
    var id = $(this).data('id');
    $('#modal-form').modal('show');
    $('#modal-form-label').text('Edit Post');

    $.ajax({
      url: '/api/posts/' + id,
      method: 'GET',
      success: function(data) {
        $('#input-record-id').val(id); // Update the hidden input field with the ID
        $('#input-title').val(data.title);
        $('#input-author').val(data.author);
        $('#input-date').val(data.date);
        $('#input-content').val(data.content);
        // Update the form action URL
        $('#form-record').attr('action', '/api/posts/' + id);
      },
      error: function(error) {
        console.log(error);
      }
    });
  });

  // Add event handler for form submission
  $('#form-record').submit(function(event) {
    event.preventDefault();

    var id= $('#input-record-id').val();
    var title = $('#input-title').val();
    var author = $('#input-author').val();
    var date = $('#input-date').val();
    var content = $('#input-content').val();
    var formData = {
    title: title,
    author: author,
    date: date,
    content: content
    };
    if (id) {
      // If ID exists, update the record
      updateRecord(id, formData);
    } else {
      // If ID is empty, add a new record
      addRecord(formData);
    }
  });

  $(document).on('click', '.btn-delete', function() {
    var id = $(this).data('id');
    if (confirm('Are you sure you want to delete this record?')) {
      deleteRecord(id);
    }
  });
});
</script>
</body>
</html>

